:root,
.dark {
	--vp-c-brand: #3b82f6;
	--vp-c-brand-light: #60a5fa;
	--vp-c-brand-lighter: #93c5fd;
	--vp-c-brand-dark: #2563eb;
	--vp-c-brand-darker: #1d4ed8;
	scroll-behavior: smooth;
	--scrollbar-border-radius: 4px;
	--search-accent-color: var(--c-brand);
}
